# OPENAI_API_KEY=your_api_key_here
# OPENAI_MODEL=gpt-4o-mini
# OPENAI_BASE_URL=https://api.openai.com/v1

# Ollama
OPENAI_API_KEY=ollama
OPENAI_MODEL="frob/qwen3.5-instruct:9b"
OPENAI_BASE_URL=http://localhost:11434/v1
